$primary-color: #64db73;
$primary-color-light: #50e0c1;
$secondary-color: #533d9c;
$secondary-color-light: #9f5ee9;
$border-primary-color: #397ea8;
$border-secondary-color: #eceef1;
$width: 100px;
$height: 100px;
$radius: 50%;
$border: 1px;
